<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDytdg7DdSKYIWbT9IcVPjKa-RIO-wqG0U</string>
	<key>GCM_SENDER_ID</key>
	<string>605935087397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreeramkrishna.wordsearch.spelling.checker</string>
	<key>PROJECT_ID</key>
	<string>verbal-fluency-game</string>
	<key>STORAGE_BUCKET</key>
	<string>verbal-fluency-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605935087397:ios:b4068c54096b60576bf4cc</string>
	<key>DATABASE_URL</key>
	<string>https://verbal-fluency-game-default-rtdb.firebaseio.com</string>
</dict>
</plist>